div.StickySide{
	    float:right;
		min-width: 22em;
		width: 22em;
	    margin: 0 4em 3em 0;
		position: -webkit-sticky;
		position: sticky;
		top:0;
}

button{
border-radius: 3px;
}


button.TagButton{
	transition-duration: 0.4s;
	color: #ba430b;
	border-width:1px;
	border-color: #ffab61;
	margin: 10px 10px 10px 0px;
	float: right;
}


button.TagButton:hover{
	background-color: white;
	color: #ba430b;
}

/*.ButtonActive{*/
	/*background-color: white;*/
/*}*/

/*.ButtonNotActive{*/
	/*background-color: #fac482;*/
/*}*/


ul{
	list-style-type: none;
}


